 @import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
 @import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,700&display=swap");

$titulo: 'Text Me One', sans-serif;
$descripcion:Verdana, Tahoma, sans-serif;
$nav:'Roboto Mono', monospace;